html {
  overflow-y: scroll;
  height: 100%;
  user-select: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  display: grid;
  grid-template-rows: fit-content(15ex) auto fit-content(6ex);
  height: 100%;
  margin: 0;
  background-color: rgb(0, 82, 81);
  color: #dee;
}


footer {
  z-index: 1;
  font-size: 10pt;
  padding: 0 1ex;
  text-align: right;
}

footer a, .mapboxgl-popup-content a {
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}

footer a:hover {
  color: #fff;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline;
}
footer ul li:not(:first-child)::before {
  content: "| ";
}


header {
  z-index: 1;
  box-shadow: 0 0 0.4ex #000;
}

header form {
  padding: 0.3ex 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

fieldset {
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}

/* This will be the container for #date */
fieldset:first-child {
  min-width: 0;
  flex: 1 1 20em;
  width: calc(100vw - 3.5em);
  max-width: max-content;
}

@media screen and (max-width: 40em) {
  .report-bug {
    display: none;
  }
}

.options {
  display: inline-grid;
  grid-auto-flow: column;
  margin: 0.3ex 0.5em 0.3ex;
  font-size: 14pt;
  height: 4.8ex;
}

.options label {
  color: #686;
  background-color: #fff;
  padding: 0 0.5em;
  margin: 0 auto;
  text-align: center;
  display: inline-grid;
  align-items: center;
}

.options label.weekend {
  color: #363;
  background-color: #d8e8e6;
}

.options label small {
  font-size: 60%;
}

.options input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  appearance: none;
}
.options input + label {
  border: 1px solid;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.options input:first-child + label {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left: 1px solid #ccc;
  padding-left: 0.75em;
}
.options input + label:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 1px solid #ccc;
  padding-right: 0.75em;
}
.options input:checked + label {
  background-color: #488;
  color: #fff;
}
.options input:checked + label {
  border-color: #688;
}
.options input:focus + label {
  border-color: #464;
  border-left: 1px solid #464;
  margin-left: -1px;
}
.options input:focus:first-child + label {
  margin-left: 0;
}
.options input:focus + label + input + label {
  border-left: 1px solid #464;
  margin-left: -1px;
}
.options:hover input + label {
  border-top-color: #242 !important;
  border-bottom-color: #242 !important;
}
.options:hover input:first-child + label {
  border-left-color: #242 !important;
}
.options:hover input + label:last-child {
  border-right-color: #242 !important;
}


.options .date-gap {
  background-color: #fff;
  border: 1px solid;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left: none;
  border-right: none;
  padding: 1px;
  display: flex;
}

.options .date-gap:before {
  border-right: 1px dashed #ccc;
  margin-right: 1px;
  content: " ";
  display: block;
}

.options:hover .date-gap {
  border-top-color: #242 !important;
  border-bottom-color: #242 !important;
}


timerange {
  display: grid;
  --track-width: 30em;
  --slider-width: calc(var(--track-width) / 26);
  /* there are 24 tick gaps within the slider, plus
   * some on either end for the thumbs to park in.
   * So we want slider-width to be track-width / (24 + 2 * spare),
   * and to offset the ticks so they land on the ends. */
  margin: 0.3ex 0.5em 0.3ex;
}

@media screen and (max-width: 40em) {
  timerange {
    --track-width: 20em;
  }
}

timerange .time-text {
  grid-area: 1 / 1;
  text-align: center;
  height: 2ex;
}

input[type="range"] {
  width: var(--track-width);
  grid-area: 2 / 1;
  -webkit-appearance: none;
  background-color: transparent;
  overflow: hidden;
  pointer-events: none;
}
/* Chrome gets upset if you combine these */
input[type="range"]::-webkit-slider-runnable-track {
  height: 30px;
  overflow: hidden;
}
input[type="range"]::-moz-range-track {
  height: 30px;
  overflow: hidden;
}
input[type="range"]::-webkit-slider-thumb {
  width: var(--slider-width);
  appearance: none;
  height: 100%;
  cursor: ew-resize;
  background: #488;
  border: 1px solid #688;
  pointer-events: all;
  position: relative;
}
input[type="range"]::-moz-range-thumb {
  width: var(--slider-width);
  appearance: none;
  height: 100%;
  cursor: ew-resize;
  background: #488;
  border: 1px solid #688;
  pointer-events: all;
  position: relative;
}

input[type="range"]:focus::-moz-range-thumb {
  background: #6aa;
}
input[type="range"]:focus::-webkit-slider-thumb {
  background: #6aa;
}

timerange:hover input[type="range"]::-moz-range-thumb {
  border-color: #242;
}
timerange:hover input[type="range"]::-webkit-slider-thumb {
  border-color: #242;
}

input[type="range"]#from_time {
  direction: ltr;
}
input[type="range"]#from_time::-webkit-slider-thumb {
  border-radius: 0 0 0 50%;
  box-shadow: calc(var(--track-width) / -2) 0 0 calc(var(--track-width) / 2) rgba(0, 82, 81, 0.7);
}
input[type="range"]#from_time::-moz-range-thumb {
  border-radius: 0 0 0 50%;
  box-shadow: calc(var(--track-width) / -2) 0 0 calc(var(--track-width) / 2) rgba(0, 82, 81, 0.7);
}
/* The one at the back provides the widget.
   It might be better to push this to another div overlaid in the container */
input[type="range"]#from_time::-webkit-slider-runnable-track {
  background: radial-gradient(circle at 4px 15px, #d8e8e6 0px, #d8e8e6 4px, transparent 4px),
  radial-gradient(circle at calc(100% - 4px) 15px, #d8e8e6 0px, #d8e8e6 4px, transparent 4px),
  linear-gradient(90deg, rgb(0, 82, 81) 6px, transparent 6px),
  linear-gradient(270deg, rgb(0, 82, 81) 6px, transparent 6px),
  linear-gradient(180deg, transparent 11px, #fff 11px, #d8e8e6 12px, #d8e8e6 18px, #fff 19px, transparent 19px);
}
input[type="range"]#from_time::-moz-range-track {
  background: radial-gradient(circle at 4px 15px, #d8e8e6 0px, #d8e8e6 4px, transparent 4px),
  radial-gradient(circle at calc(100% - 4px) 15px, #d8e8e6 0px, #d8e8e6 4px, transparent 4px),
  linear-gradient(90deg, rgb(0, 82, 81) 6px, transparent 6px),
  linear-gradient(270deg, rgb(0, 82, 81) 6px, transparent 6px),
  linear-gradient(180deg, transparent 11px, #fff 11px, #d8e8e6 12px, #d8e8e6 18px, #fff 19px, transparent 19px);
}

input[type="range"]#to_time {
  direction: rtl;
}
input[type="range"]#to_time::-webkit-slider-thumb {
  border-radius: 0 0 50% 0;
  box-shadow: calc(var(--track-width) / 2) 0 0 calc(var(--track-width) / 2) rgba(0, 82, 81, 0.7);
}
input[type="range"]#to_time::-moz-range-thumb {
  border-radius: 0 0 50% 0;
  box-shadow: calc(var(--track-width) / 2) 0 0 calc(var(--track-width) / 2) rgba(0, 82, 81, 0.7);
}
input[type="range"]#to_time::-webkit-slider-runnable-track {
  background-color: transparent;
}
input[type="range"]#to_time::-moz-range-track {
  background-color: transparent;
}

#time-ticks {
  grid-area: 3 / 1;
  display: flex;
  justify-content: space-between;
  /* I can't work out the correct factor here */
  margin-left: calc(var(--slider-width) / 1.3);
  margin-right: calc(var(--slider-width) / 1.3);
  height: 15px;
}

#time-ticks option {
  border-left: 1px solid #688;
  margin: 0;
  padding: 0;
  width: 0;
  min-height: 5px;
  height: 7px;
}

#time-ticks option:nth-child(6n + 1) {
  border-left: 1px solid #d8e8e6;
  height: 10px;
}

.time-labels {
  grid-area: 4 / 1;
  display: flex;
  justify-content: space-between;
  font-size: 60%;
  margin-left: calc(var(--slider-width) / 2);
  margin-right: calc(var(--slider-width) / 2);
}

.time-labels span {
  display: block;
}


.mapboxgl-popup-content {
  color: rgb(0, 82, 81);
  font-size: 12pt;
}

.mapboxgl-popup-content dl {
  display: grid;
  grid-template: auto / 6em 1fr;
  margin: 0;
}

.mapboxgl-popup-content .ticketed:before {
  content: "";
  display: inline-block;
  background: url(ticket.svg) no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  margin-right: 0.2em;
  vertical-align: text-top;
}

.mapboxgl-popup-content a {
  display: block;
}

.mapboxgl-popup-content a:hover {
  color: rgb(0, 40, 40);
}

.mapboxgl-popup-content,
.mapboxgl-popup-content p,
.mapboxgl-popup-content dl {
  pointer-events: none !important;
  cursor: default;
}

.mapboxgl-popup-content a,
.mapboxgl-popup-content button {
  pointer-events: auto !important;
}

.mapboxgl-popup-content a {
  touch-action: none;
}

.mapboxgl-popup-content .gmaps-link,
.mapboxgl-popup-content .cm-link {
  display: inline-block;
  margin: 0 0.3em;
}
.mapboxgl-popup-content .gmaps-link {
  padding: 0 6px;
}
.mapboxgl-popup-content .gmaps-link img,
.mapboxgl-popup-content .cm-link img {
  height: 39px;
}


.not-ready form {
  display: none;
}


.scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollable::-webkit-scrollbar {
  display: none;
}

.scroll-x {
  overflow-x: scroll;
}
