name: Update open house data
on: 
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:
jobs:
  scrape-and-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Scrape and commit
        run: |
          pip install -r requirements.txt

          # we'll regenerate these, so remove them now and git add -u will
          # later mark them as deleted in git
          rm data/2022/*
          rm csv/2022/*
          rm -rf maps/2022/*

          python -u scrape-openhouse.py
          python -u generate-csv-summary.py
          python -u generate-maps.py

          mv data data.new
          mv csv csv.new
          mv maps maps.new

          git checkout -- data
          git checkout -- csv
          git checkout -- maps

          git pull --ff-only

          rm -rf data
          rm -rf csv
          rm -rf maps

          mv data.new data
          mv csv.new csv
          mv maps.new maps

          # -u because we want to also remove any files that have been deleted
          git add data
          git add csv
          git add maps

          git config --global user.email "bot@jonty.co.uk"
          git config --global user.name "OH London update GHA"

          # || true means this won't error when there's nothing to commit
          git commit -m "Automatic OH London data update" || true

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
